body{
    background-color: #3df600;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
div{
    background-color: #FFFFF0;
    height: 500px;
    width: 300px;
    position: relative;
}
.return{
    position: absolute;
    bottom: 20;
    left: 100;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
}
.return:hover, .delete:hover{
    color: black;
}
.delete{
    position: absolute;
    bottom: 80;
    left: 60;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
}
h1{
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}
.botao_excluir{
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    right: 10px;
    color: black;
    padding-top: 20px;
}
.botao_excluir:hover{
    color: green;
}